body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header, nav {
    text-align: center;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0;
    color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    text-align: right;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #2c3e50;
}

#about p {
    text-align: justify;
    padding: 0 0 0 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    main {
        text-align: left;
    }

    #about p {
        padding: 0;
    }
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 24px;
    height: 24px;
}